<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923319571278-g25ko409efh7a2mod0gcqnqn79bitjli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923319571278-g25ko409efh7a2mod0gcqnqn79bitjli</string>
	<key>API_KEY</key>
	<string>AIzaSyB4ZCcbCSJWWOW_EFY3bvSVTFb7T4GdZRE</string>
	<key>GCM_SENDER_ID</key>
	<string>923319571278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eveylan.colorGrid</string>
	<key>PROJECT_ID</key>
	<string>color-grid-app</string>
	<key>STORAGE_BUCKET</key>
	<string>color-grid-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923319571278:ios:ed880cd44566832a68c41f</string>
</dict>
</plist>